@font-face {
    font-family: "Bebas";
    src: url("/assets/fonts/bebas/regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat/regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat/bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

.font-montserrat {
    @apply leading-[120%];
}

.font-bebas {
    @apply leading-[100%];
}